<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js 2 study</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="app">
    <div class="section">
        <div class="section-title">
            <h3>v-model, methods, variables</h3>
        </div>
        <div class="section-body">
            <div class="person">
                <input type="text" name="name" id="name" v-model="name">
                <h4>{{greet()}}</h4>
                <h4>I work as {{job}}</h4>
            </div>
        </div>
    </div>

    <hr />

    <div class="section">
        <div class="section-title">
            <h3>v-bind:title</h3>
        </div>
        <div class="section-body">
            <p v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </p>
        </div>
    </div>



    <hr />

    <div class="section">
        <div class="section-title">
            <h3>v-html</h3>
        </div>
        <div class="section-body">
            <div v-html="markup"></div>
        </div>
    </div>

    <hr />

    <div class="section">
        <div class="section-title">
            <h3>v-for</h3>
        </div>
        <div class="section-body">
            <ul>
                <li v-for="user in users" v-bind:class="{'is_admin': user.is_admin}">
                    <h5>{{user.name}}</h5>
                    <h6>{{user.birthday}}</h6>
                </li>
            </ul>
        </div>
    </div>

    <hr />

    <div class="section">
        <div class="section-title">
            <h3>v-on:click, v-on:dblclick, methods</h3>
        </div>
        <div class="section-body">
            <h4>{{counter}}</h4>
            <button type="button" v-on:click="counter++">+1</button>
            <button type="button" v-on:click="substract()">-1</button>
            <button type="button" v-on:dblclick="counter=0">Reset</button>
        </div>
    </div>

    <hr />

    <div class="section">
        <div class="section-title">
            <h3>Event Modifiers</h3>
        </div>
        <div class="section-body"  v-on:click="say('Click on parent!')">
            <a href="http://google.com" target="_blank" v-on:click.stop.prevent="say('Link click, but no click on parent!')">Click!</a>
            <br />
            <br />
            <form action="https://google.com" v-on:submit.prevent="say('No submit but click on parent!')">
                <button type="submit">Submit form</button>
            </form>
        </div>
    </div>

    <hr />

    <div class="section">
        <div class="section-title">
            <h3>keyup </h3>
        </div>
        <div class="section-body">
            <input type="text" v-on:keyup.f1="valuerChanged">
        </div>
    </div>

    <hr />

    <pre>{{$data | json}}</pre>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="/js/app.js"></script>
</body>
</html>